{% extends 'base.html' %} {% block head_title %} this is amazing!!!! 
{% endblock head_title%} {% block content %} welcome to tweetme

<div id="tweets">
 Loading...
</div>
<script>
 const tweetsElement = document.getElementById("tweets")
 // tweetsElement.innerHTML = "Loading..."

  const xhr = new XMLHttpRequest();
  const method = "GET";
  const url = "/tweets";
  const responseType = "json";

  function handleDidLike (tweet_id, currentCount) {
   console.log(tweet_id, currentCount)

  }

  function LikeBtn(tweet) {
   return "<button class='btn btn-primary btn-sm' onClick=handleDidLike(" +tweet.id+ "," +tweet.likes+ ")>" +tweet.likes+ " Likes</button>"
  }

  function formatTweetElement(tweet) {
   var formattedTweet = "<div class='mb-4 tweet' id='tweet-" + tweet.id + "'><p>" +tweet.content +
    "</P><div class='btn-group'>" +LikeBtn(tweet) +
    "</div></div>"
   return formattedTweet

  }

  xhr.responseType = responseType;
  xhr.open(method, url);
  xhr.onload = function () {
    console.log(xhr.response);
    const serverRresponse = xhr.response
    var listedItems = serverRresponse.response
    var finalTweetStr = ""
    var i;
    for (i=0; i<listedItems.length; i++) {
     console.log(i)
     console.log(listedItems[i])
     var tweetObj = listedItems[i]
     var currentItem = formatTweetElement(tweetObj)
     finalTweetStr += currentItem
    }
    tweetsElement.innerHTML = finalTweetStr
    console.log(listedItems)
  };
  xhr.send();
</script>

{% endblock content %}
